body{
    background-color:  rgb(27, 27, 27);
    color:white;
    font-family: 'Martel Sans', sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding:0;

}
a{
    text-decoration: none;
    color:inherit;
}